## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [2]:
import os
import numpy as np
import pandas as pd

In [14]:
# 設定 data_path
dir_data = 'D:/Jupyter_Notebook/ML-100/Day_004'

In [15]:
f_app = os.path.join(dir_data, 'POS_CASH_balance.csv')
print('Path of read in data: %s' % (f_app))
df = pd.read_csv(f_app)

Path of read in data: D:/Jupyter_Notebook/ML-100/Day_004\POS_CASH_balance.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [17]:
(r,c)=df.shape
print('The dataset has '+str(r)+' rows and '+str(c)+' columns')

The dataset has 10001358 rows and 8 columns

#### 列出所有欄位

In [18]:
df

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0
10,2328294,287361,-32,12.0,12.0,Active,0,0
11,2023570,237959,-39,12.0,12.0,Active,0,0
12,1258390,278261,-32,36.0,36.0,Active,0,0
13,1627166,146161,-33,24.0,24.0,Active,0,0
14,1711625,131467,-34,12.0,5.0,Active,0,0
15,2374177,204722,-35,24.0,15.0,Active,0,0
16,1716688,405549,-33,12.0,1.0,Active,0,0
17,1846127,380050,-31,36.0,28.0,Active,0,0
18,1911764,312551,-32,24.0,16.0,Active,0,0
19,2645133,152810,-35,24.0,23.0,Active,0,0
20,1381005,195362,-34,60.0,56.0,Active,0,0
21,1366811,169489,-38,24.0,24.0,Active,0,0
22,1260621,244684,-32,18.0,12.0,Active,0,0
23,1445556,220181,-41,12.0,12.0,Active,0,0
24,1420240,386836,-41,12.0,11.0,Active,0,0
25,2631694,337149,-33,12.0,11.0,Active,0,0
26,1059679,139637,-31,12.0,12.0,Active,0,0
27,1865970,202091,-35,12.0,7.0,Active,0,0
28,2683316,454237,-32,18.0,15.0,Active,0,0
29,2759941,428330,-32,18.0,18.0,Active,0,0
...,...,...,...,...,...,...,...,...
10001328,2256531,422685,-20,6.0,0.0,Active,0,0
10001329,1540335,104779,-27,6.0,0.0,Active,0,0
10001330,1717234,141565,-18,12.0,0.0,Active,630,0
10001331,2476257,210494,-18,6.0,0.0,Active,0,0
10001332,2700641,448867,-18,6.0,0.0,Active,871,0
10001333,2715817,417692,-18,6.0,0.0,Active,948,0
10001334,2149359,305835,-19,12.0,0.0,Active,903,0
10001335,1074985,433445,-22,12.0,0.0,Active,0,0
10001336,1214793,292180,-21,12.0,0.0,Active,850,0
10001337,2305826,356195,-18,12.0,0.0,Active,804,0
10001338,1013514,305218,-27,16.0,0.0,Signed,0,0
10001339,1609165,370184,-21,15.0,0.0,Signed,0,0
10001340,1413755,233660,-19,24.0,0.0,Signed,0,0
10001341,2275842,293579,-20,6.0,0.0,Signed,0,0
10001342,1641388,165586,-19,10.0,0.0,Active,1063,0
10001343,1816071,383432,-23,6.0,0.0,Signed,0,0
10001344,1086035,102784,-26,24.0,0.0,Active,654,0
10001345,1773550,412155,-18,6.0,0.0,Signed,0,0
10001346,2210119,381218,-22,12.0,0.0,Active,1016,0
10001347,1522999,385297,-21,12.0,0.0,Active,0,0
10001348,2234984,191559,-22,6.0,0.0,Active,797,0
10001349,2340692,104125,-24,6.0,0.0,Active,944,0
10001350,2593362,198894,-20,12.0,0.0,Completed,0,0
10001351,2639809,288279,-25,6.0,0.0,Active,925,0
10001352,2700641,448867,-19,6.0,0.0,Active,843,0
10001353,2448283,226558,-20,6.0,0.0,Active,843,0
10001354,1717234,141565,-19,12.0,0.0,Active,602,0
10001355,1283126,315695,-21,10.0,0.0,Active,609,0
10001356,1082516,450255,-22,12.0,0.0,Active,614,0
10001357,1259607,174278,-52,16.0,0.0,Completed,0,0

#### 截取部分資料

In [19]:
df.head(10)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0
5,2207092,342166,-32,12.0,12.0,Active,0,0
6,1110516,204376,-38,48.0,43.0,Active,0,0
7,1387235,153211,-35,36.0,36.0,Active,0,0
8,1220500,112740,-31,12.0,12.0,Active,0,0
9,2371489,274851,-32,24.0,16.0,Active,0,0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [26]:
df[0:2]

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0

In [29]:
df.iloc[:, 0:2]

          SK_ID_PREV  SK_ID_CURR
0            1803195      182943
1            1715348      367990
2            1784872      397406
3            1903291      269225
4            2341044      334279
5            2207092      342166
6            1110516      204376
7            1387235      153211
8            1220500      112740
9            2371489      274851
10           2328294      287361
11           2023570      237959
12           1258390      278261
13           1627166      146161
14           1711625      131467
15           2374177      204722
16           1716688      405549
17           1846127      380050
18           1911764      312551
19           2645133      152810
20           1381005      195362
21           1366811      169489
22           1260621      244684
23           1445556      220181
24           1420240      386836
25           2631694      337149
26           1059679      139637
27           1865970      202091
28           2683316      454237
29           2759941      428330
...              ...         ...
10001328     2256531      422685
10001329     1540335      104779
10001330     1717234      141565
10001331     2476257      210494
10001332     2700641      448867
10001333     2715817      417692
10001334     2149359      305835
10001335     1074985      433445
10001336     1214793      292180
10001337     2305826      356195
10001338     1013514      305218
10001339     1609165      370184
10001340     1413755      233660
10001341     2275842      293579
10001342     1641388      165586
10001343     1816071      383432
10001344     1086035      102784
10001345     1773550      412155
10001346     2210119      381218
10001347     1522999      385297
10001348     2234984      191559
10001349     2340692      104125
10001350     2593362      198894
10001351     2639809      288279
10001352     2700641      448867
10001353     2448283      226558
10001354     1717234      141565
10001355     1283126      315695
10001356     1082516      450255
10001357     1259607      174278

[10001358 rows x 2 columns]